@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&display=swap");

body {
  background-color: #faf5ee;
  min-height: 100%;
}

input:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 1px solid #d2b48c !important;
}

.btn-primary {
  background-color: #42291e;
  color: #faf5ee;
  border: 1px solid #42291e;
  font-weight: 600;
  padding: 8px 24px;
  border-radius: 8px;
  transition: all 0.3s ease;
  &:hover {
    background-color: #5b3b2e;
    transform: translateY(-1px);
  }
  &:active,
  &:focus {
    background-color: #42291e !important;
    transform: translateY(1px);
  }
  &:disabled {
    opacity: 0.5;
    background-color: #42291e !important;
    border: 0px;
    cursor: not-allowed;
  }
}

.btn-outline-primary {
  color: #42291e;
  border: 1px solid #42291e;
  /* background-color: #42291E; */
  font-weight: 600;
  padding: 8px 24px;
  border-radius: 8px;
  transition: all 0.3s ease;

  &:hover {
    background-color: #e6caa3;
    color: #42291e;
    transform: translateY(-1px);
  }
  &:active,
  &:focus {
    background-color: #e6caa3 !important;
    transform: translateY(1px);
    color: #42291e !important;
  }
}

nav-bar {
  display: block;
  background-color: #faf5ee;
  .navbar {
    /* background-color: #1a0f0a;  */
    padding: 15px 0;
    color: #42291e;
  }
  .nav-link {
    color: #42291e;
    cursor: pointer;

    &:hover {
      color: #42291e;
    }
  }
}

.shop-interior {
  width: 100%;
  object-fit: cover;
  margin-top: 10rem;
}

.headline {
  color: #3b261d;
  font-family: "Libre Baskerville", serif;
  letter-spacing: 7px;
}

.custom-footer {
  background-color: #1a0f0a;
  color: #d2b48c;
  padding: 60px 0 20px 0;
  font-family: sans-serif;

  .footer-title {
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.2;
  }

  .subscribe-box {
    border: 1px solid #d2b48c;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    align-items: center;

    input {
      background: transparent;
      border: none;
      color: #fff;
      padding: 10px 20px;
      width: 100%;
    }
  }

  .btn-updates {
    background-color: #f3e5ab;
    color: #1a0f0a;
    border-radius: 8px;
    padding: 10px 25px;
    font-weight: bold;
    border: none;
    white-space: nowrap;

    &:hover {
      background-color: #d2b48c;
      color: #1a0f0a;
    }
  }

  .footer-heading {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #d2b48c;
  }

  .footer-links {
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 10px;
    }

    a {
      color: #d2b48c;
      text-decoration: none;
      transition: 0.3s;

      &:hover {
        color: #fff;
      }
    }
  }

  .social-link {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
    text-decoration: none;
    color: #d2b48c;
  }

  hr {
    border-top: 1px solid #4a3728;
    margin-top: 50px;
    opacity: 1;
  }

  .copyright {
    text-align: center;
    font-size: 0.9rem;
    margin-top: 20px;
  }
}

.form {
  background: transparent !important;

  width: 85%;
  justify-self: center;
  .requirements {
    list-style: none;
    padding-left: 0;
  }

  .requirements {
    list-style: none;
    padding-left: 1rem;
    li {
      color: #dc3545;
      &.valid {
        color: #198754;
      }
    }
  }
}

.products {
  background-color: #e8d8be;
  color: #fff;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;

  .products-title {
    color: #0e0e0e;
    font-family: "Libre Baskerville", serif;
    letter-spacing: -2px;
    margin-bottom: 1.5rem;
    font-weight: 400;
  }

  .card {
    background: #f3eee7;
    border: none;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
    .card-img-top {
      height: 200px;
      object-fit: cover;
    }

    .card-body {
      padding: 0.75rem 0;
      text-align: center;

      .card-title,
      .card-text {
        margin: 0.1rem;
        color: #42291e;
        font-weight: 600;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }

      button {
        border-radius: 10px;
        color: #e8d7bd;
        font-weight: 400;
        width: 95%;
      }
    }
  }
}

.coffee-section {
  .coffee-text {
    width: 100%;
    height: 100%;
    background-color: #3b1f14;
    color: #f5f5f5;
    padding: 4rem;
  }
  .coffee-text h2 {
    font-family: serif;
    font-size: 2.2rem;
    margin-bottom: 1.5rem;
  }
  .coffee-image img {
    width: 100%;
    object-fit: contain;
  }
}

.product-detail {
  #product-image {
    overflow: hidden;
    img {
      object-fit: cover;
      width: 100%;
      height: 40rem;
      display: block;
    }
  }
  #detail-price,
  #detail-name,
  #detail-description {
    color: #3b1f14 !important;
  }
 #detail-description {
  font-size: 1rem;
 } 
}
